$headerColrTxt: #fff;
$backgrImgAddress: '../img/header_background_v1.jpg';
$backgroundColr: #fff;
$font: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica,sans-serif;
$navColrBorder: #607d8b;
$btnColor: #01acac;
$articleBackgroundColr: #efefef;
$borderColr: #466270;
$txtColr: #000;
$postDescrptColr: rgb(230, 13, 13);
$color: #1998a7;