$headerColrTxt: #f05e32;
$backgrImgAddress: '../img/header_background_v2.jpg';
$backgroundColr: #efefef;
$font: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$navColrBorder: #cfd8dc;
$btnColor: #1311c0;
$articleBackgroundColr: #fff;
$borderColr: #cfd8dc;
$txtColr: #6d6d6d;
$postDescrptColr: #b3aaaa;
$color: rgb(78, 99, 109);