body 
{
    margin: 0;
    font-family: 'Open Sans', sans-serif;    
    max-width: 100vw;
    background-color: #F3F3F3;
}

header 
{
    display: grid;
    background: url('../img/sample2.jpg') no-repeat;
    background-size: cover;
    color: #FFFFFF;
    height: 100vh;  
}

.header-content 
{    
    display: flex;
    padding: 39px;
    justify-content: space-between;    
}

.header-content p 
{
    margin: 0;
}

header a 
{
    padding: 16px;
    text-decoration: none;
    color: #FFFFFF;    
}

.logo 
{
    font-size: 65%;
    text-transform: uppercase;
    letter-spacing: 3px;    
}

.log 
{
    font-size: 70%;
}

h1 
{
    margin: 0;
    font-size: 240%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;  
}

h1 span 
{
    font-size: 180%;
}

header section p 
{
    margin: 0;
    font-size: 70%;
    text-align: center;    
}

nav 
{
    justify-content: space-evenly;
    display: flex;    
}

nav a 
{
    height: 10%;
    font-size: 70%;
    padding: 10px 70px;
    border: 2px solid #FFFFFF;;
    
}

.content 
{
    justify-content: flex-end;
    display: flex;    
}

.content::after 
{
    margin: 0;
    width: 0;
    height: 0;
    border-width: 0 100vw 180px 0;
    border-style: solid;
    border-color: transparent #000000 transparent transparent;
    position: absolute;
    content: ""; 
    z-index: -1;
}

.text 
{   flex-direction: column;
    display: flex;    
}

.one-side 
{
    font-size: 75%;
    padding-top: 15px;
    padding-right: 50px;
    width: 46%;
    color: #FFFFFF;
    align-self: flex-end;  
}

.another-side 
{
    margin-left: 2%;
    font-size: 90%;
    padding-top: 11px;
    align-self: flex-start;    
    width: 25%;   
}

.titles 
{
    margin: auto;
    width: 96%;    
    padding-bottom: 49px;
}

.titles-img{
    display: flex;
    justify-content: space-between;
}

.titles p 
{
    font-size: 121%;
    padding: 11px;
    text-align: center;   
}

.titles-img div 
{
    font-size: 71%;
    width: 47%;
}

.titles-text p 
{
    font-size: 100%;
    padding: 21px;
}

.img 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('../img/sample.jpg') no-repeat;
    background-size: cover; 
}

.img .like 
{
    margin-top: 19px;
    margin-right: 11px;
    font-size: 99%;
    padding: 2px 3px;    
    width: 36px;
    background: rgba(0, 0, 0, 0.4);
    align-self: flex-end;
    color: #FFFFFF;
    border: 1px #FFFFFF solid;     
    }

.img .date 
{
    font-size: 96%;
    color: #FFFFFF;
    align-self: flex-start;    
}

.def 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #FFFFFF;   
}

.def article 
{
    font-size: 69%;
    margin: 29px 71px;
    padding: 7px 26px; 
    max-width: 227px;
    box-shadow: 0 2px 3px #9E9E9E;
    text-align: center;       
    width: 50%;    
}

.card 
{
    text-align: left;
}

article .card-btn 
{
    margin-bottom: 11px;
    padding: 4px;
    font-size: 110%;
    width: 99%;
    background-color: #097774;
    border: none;
    color: #FFFFFF;
    font-weight: bold;   
}

.connection, footer 
{
    background-color: #FFFFFF;
}

.description 
{
    font-size: 82%;
    padding: 32px 26px;
}

.description form 
{
    font-size: 155%;
    text-align: right;    
}

.description p 
{
    font-size: 90%;
}

input, #email 
{
    margin-left: 16px;
    padding: 7px;
    width: 9%;
    background-color: #F3F3F3;
    border: solid thin #000000;
}

input:not(#email) 
{
    width: 43%;
}

input::placeholder 
{
    font-size: 85%;
    color: #000000;
    background-color: #F3F3F3;    
}

.description-btn 
{
    margin-left: 3px;
    padding: 10px;
    font-size: 11px;
    background-color: #097774;
    border: transparent;
    color: #FFFFFF;
    font-weight: bold;   
}

.connection 
{
    display: grid;
    padding: 68px 34px;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
}

.connection article 
{
    width: 98%;
}

.connection article h5 
{
    font-size: 80%;
    margin-bottom: 15px;
}

.connection article p {
    font-size: 65%;
    color: #9E9E9E;
}

.connection input 
{
    margin: 0;
}

.connection-text 
{
    display: flex;
    flex-direction: column;
}

.connection-text span 
{
    padding-top: 6px;
    color: #E8E8E8;    
}

.contact 
{
    width: 52%;
}

.footer-content 
{
    margin-left: 30px;
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-top: solid thin #F0F0F0;   
}

footer  p 
{
    color: #9E9E9E;
    font-size: 72%;
}

.footer-content-nav a 
{
    font-size: 71%;
    padding: 9px;
    text-decoration: none;
    color: #000000;   
}